<!DOCTYPE html>
<html>

<head>
    <title>QuickBook Staff Dashboard</title>
</head>

<body>

    <h1>QuickBook Staff Dashboard</h1>

    <a href="{% url 'web_logout' %}">Logout</a>

    <p>
        Welcome, {{ request.user.username }}
    </p>

    <hr>

    <br>

    <a href="{% url 'user_list' %}">
        Manage Users
    </a>

    <h2>Dashboard Statistics</h2>

    <p>
        <strong>Total Customers:</strong>
        {{ total_customers }}
    </p>

    <p>
        <strong>Total Vendors:</strong>
        {{ total_vendors }}
    </p>

    <p>
        <strong>Total Events:</strong>
        {{ total_events }}
    </p>

    <p>
        <strong>Total Bookings:</strong>
        {{ total_bookings }}
    </p>

</body>

</html>